html[amp], html[⚡] {
    max-width: 1000px;
    margin: auto;
}

#lite-atf-content {
    max-width: 800px;
    margin: auto;
}

g-inner-card div + img[alt="AMP"] {
    position: relative;
    top: 36px;
    left: calc(100% - 28px);
}