#amp-browser-viewer,
#amp-browser-viewer body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: menu;
}

#amp-browser-viewer iframe {
    display: block;
    width: 1024px;
    height: 100%;
    max-width: 100%;
    margin: auto;
    border: 0;
    background-color: white;
    box-shadow: windowframe 0 0 3px;
    resize: horizontal;
}

g-inner-card {
    position: relative;
}

g-inner-card div + img[alt="AMP"] {
    position: absolute;
    bottom: 16px;
    right: 16px;
}